*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color: violet;
    height: 100px;    
}

.container{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.container div{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.div1{
    background-color: red;
    margin: 15px;
}

.div2{
    background-color: green;
    margin: 15px;
}

.div3{
    background-color: blue;
    margin: 15px;
}

footer{
    background-color: lightblue;
    height: 100px;
}

